// You've got to force the map to take up space.
.angular-google-map {
  // height: 300px;
  height: 100%;
  width: 100%;
}
.angular-google-map-container {
  // height: 300px;
  height: 75%;
  width: 100%;
}

.filterer-container {
  height: 25%;
  width: 100%;
}
