<!DOCTYPE html>
<html lang="en">

<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map {
        height: 100%;
      }
	.controls {
	  margin-top: 10px;
	  border: 1px solid transparent;
	  border-radius: 2px 0 0 2px;
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  height: 32px;
	  outline: none;
	  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	}

	#pac-input {
	  background-color: #fff;
	  font-family: Roboto;
	  font-size: 15px;
	  font-weight: 300;
	  margin-left: 12px;
	  padding: 0 11px 0 13px;
	  text-overflow: ellipsis;
	  width: 300px;
	}

	#pac-input:focus {
	  border-color: #4d90fe;
	}

	.pac-container {
	  font-family: Roboto;
	}

	#type-selector {
	  color: #fff;
	  background-color: #4d90fe;
	  padding: 5px 11px 0px 11px;
	}

	#type-selector label {
	  font-family: Roboto;
	  font-size: 13px;
	  font-weight: 300;
	}


.img-responsive 
{  display: block;  height: auto;  width: 100%; 
	
}

.logo-responsive 
{  display: block;  height: auto;  max-width: 100%; }


    </style>
    <title>Snowranger</title>
    <style>
      #target {
        width: 345px;
      }
    </style>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
	<style>
		#map {
		height: 500px;
		}
	</style>

<title>Snowranger</title>

<script src="//www.parsecdn.com/js/parse-1.6.7.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=false"></script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
	integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
	integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
	crossorigin="anonymous"></script>
<!-- <script src="snowranger.js"></script> -->
</head>


<body role="document">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

<a class="pull-left" href="#">{% load staticfiles %}<img class="logo-responsive" src="{% static "img/snowranger.png" %}" width="50px"/></a>

			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Plan Your Trip<span
							class="sr-only">(current)</span></a></li>
					<li><a href="#">Recent Updates</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<section id="content"></section>
       
       <div class="container">
           <p>(Display current weather here.)</p>
       </div>

    		<div class="container">
           <div class="input-group">
               <span class="input-group-addon" id="basic-addon1">I'm Coming From </span>
               <input type="text" class="form-control" placeholder="Starting Point" aria-describedby="basic-addon1">
           </div>

           <div class="input-group">
               <span class="input-group-addon" id="basic-addon2">I'm Going To</span>
               <input type="text" class="form-control" placeholder="Destination" aria-describedby="basic-addon1">
           </div>
		   <div class="jumbotron" id="map">The map ought to go here</div>
		   <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    
       </div>

       <script>
        Parse.initialize("ikx3kRNF4RME6dqQblg2t06q5ETzRsklLOOHC7QD", "6kYKiz88UsscRqK2NFO2TIGqrU3UloA3hpA8r1kv");

        var Condition = Parse.Object.extend("Condition");
        var query = new Parse.Query(Condition);
        var map;
        var gloc;
        var marque;
        var markerInfos = [];
        var infowindow = null;

        $(document).ready(function() {
           initMap();
           getConditionData();
        //    setMarkers(markers);
        });

var initMap = function() {

               //var bounds = new google.maps.LatLngBounds();

	   map = new google.maps.Map(document.getElementById('map'), {
	      center: {lat: 42.362598, lng: -71.088306},
	      zoom: 12,
	      mapTypeId: google.maps.MapTypeId.ROADMAP
	   });


      // Create the search box and link it to the UI element.
	  var input = document.getElementById('pac-input');
	  var searchBox = new google.maps.places.SearchBox(input);
	  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

	 // Bias the SearchBox results towards current map's viewport.
	  map.addListener('bounds_changed', function() {
	    searchBox.setBounds(map.getBounds());
	  });

	var marcers = [];
  // [START region_getplaces]
  // Listen for the event fired when the user selects a prediction and retrieve
  // more details for that place.
  	searchBox.addListener('places_changed', function() {
	    var places = searchBox.getPlaces();

	    if (places.length == 0) {
	      return;
	    }

	    // Clear out the old markers.
	    marcers.forEach(function(marcer) {
	      marcer.setMap(null);
	    });
	    marcers = [];

	    // For each place, get the icon, name and location.
	    var bounds = new google.maps.LatLngBounds();
	    
	    places.forEach(function(place) {
		      var icon = {
		        url: place.icon,
		        size: new google.maps.Size(71, 71),
		        origin: new google.maps.Point(0, 0),
		        anchor: new google.maps.Point(17, 34),
		        scaledSize: new google.maps.Size(25, 25)
		      };

		      // Create a marker for each place.
		      marcers.push(new google.maps.Marker({
		        map: map,
		        icon: icon,
		        title: place.name,
		        position: place.geometry.location
		      }));

		      if (place.geometry.viewport) {
		        // Only geocodes have viewport.
		        bounds.union(place.geometry.viewport);
		      } else {
		        bounds.extend(place.geometry.location);
		      }
	    });


// Don't zoom in too far on only one marker
    if (bounds.getNorthEast().equals(bounds.getSouthWest())) {
       var extendPoint1 = new google.maps.LatLng(bounds.getNorthEast().lat() + 0.005, bounds.getNorthEast().lng() + 0.005);
       var extendPoint2 = new google.maps.LatLng(bounds.getNorthEast().lat() - 0.005, bounds.getNorthEast().lng() - 0.005);
       bounds.extend(extendPoint1);
       bounds.extend(extendPoint2);
    }



	    map.fitBounds(bounds);
			});



				var StataGehry = new google.maps.LatLng(42.3618181, -71.090346);
				var Harvard = new google.maps.LatLng(42.3770029, -71.1166601);
				var BostonCityHall = new google.maps.LatLng(42.3605229, -71.0579748);
				var RoxburyCrossing = new google.maps.LatLng(42.3313358, -71.0954743);


				var marqer = new google.maps.Marker({
					position: StataGehry,
					title: "World's best marker!", 
					icon: "{% static "img/snowrangermarker2.png" %}"
				});

				var marqer2 = new google.maps.Marker({
					position: Harvard,
					title: "Je suis un geo!",
					icon: "{% static "img/snowrangermarker2.png" %}"
				});

				var marqer3 = new google.maps.Marker({
					position: BostonCityHall,
					title: "Je suis un geo!",
					icon: "{% static "img/snowrangermarker2.png" %}"
				});

				var marqer4 = new google.maps.Marker({
					position: RoxburyCrossing,
					title: "Je suis un geo!",
					icon: "{% static "img/snowrangermarker2.png" %}"
				});
				

	        marqer.setMap(map);
			marqer2.setMap(map);
			marqer3.setMap(map);
			marqer4.setMap(map);



};

        var getConditionData = function() {

        	// pull entries from Parse createdAt after Aug 20 2014 :-)
            query.greaterThan("createdAt", "2014-08-20T02:06:57.931Z");
            query.find({
               success: function(condition) {

                   //alert("Successfully retrieved " + condition.length + " descriptions.");

                   for (var i = 0; i < condition.length; i++) {

                       markerInfos.push({
                           description: condition[i].get("description"),
                           location: condition[i].get("location"),
                           image: condition[i].get("image").url()
                       });
                   }
               },
               error: function(object, error) {
                   alert("could not retrieve parse object");
               }
            }).done(function() {

                infowindow = new google.maps.InfoWindow({
                    content: "holding..."
                });

                for (index in markerInfos) {
                    console.log("Description : " + markerInfos[index].description);
                    console.log("Location Latitude : " + markerInfos[index].location.latitude);
                    console.log("Location Longitude : " + markerInfos[index].location.longitude);
                    console.log("Image Url : " + markerInfos[index].image);

                    //var position = new google.maps.LatLng(markers[index][1], markers[index][2]);
                    //bounds.extend(position);
                    marker = new google.maps.Marker({
                      position: new google.maps.LatLng(parseFloat(markerInfos[index].location.latitude),parseFloat(markerInfos[index].location.longitude)),
                      map: map,
                      title: "Title " +  index,
                      icon: "{% static "img/snowrangermarker2.png" %}"
                    });







                    // where I have added .html to the marker object.
                    //infowindow.setContent("<img src='" + markers[index].image + "'><br>" + "<p>" + this.description + "</p>");
                    infowindow = new google.maps.InfoWindow({
                        content: "<div ><img class='img-responsive'  src=\'" + markerInfos[index].image + "\'><br><p>" + markerInfos[index].description + "</p></div>"
                    });

                    google.maps.event.addListener(marker, 'click', (function(marker, infowindow) {
                        //infowindow27.open(map, marker2);
                        return function() {
                            infowindow.open(map, this);
                        };

                        //alert("click on a marker to open infowindow");
                        // infowindow.setContent("<p>hi</p>");
                        // infowindow.open(map, marker[index]);
                    })(marker, infowindow));

                    // google.maps.event.addListener(markers[index], 'click', function() {
                    //
                    // });
                }
            });
        };

        // var setMarkers = function(markers) {
        //
        //     // Display multiple markers on a map
        //     var infoWindow = new google.maps.InfoWindow(), marker, i;
        //
        //     // Loop through our array of markers & place each one on the map
        //
        //
        //        // Allow each marker to have an info window
        //        google.maps.event.addListener(marker, 'click', (function(marker, i) {
        //            return function() {
        //                infoWindow.setContent(infoWindowContent[i][0]);
        //                infoWindow.open(map, marker);
        //            }
        //        })(marker, i));
        //
        //        // Automatically center the map fitting all markers on the screen
        //        //map.fitBounds(bounds);
        //     }
        //
        // // marque.setMap(map);
        // };

       </script>
       <!-- Our Google Maps API Key is AIzaSyC-fJe5RYynbYJhTOpfXW6bX8OSFhITKkQ  -->
		<!--
		Parse snowranger Application ID is ikx3kRNF4RME6dqQblg2t06q5ETzRsklLOOHC7QD
		Parse snowranger javascript key is 6kYKiz88UsscRqK2NFO2TIGqrU3UloA3hpA8r1kv
		-->
</body>
</html>
