  body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*background-color: #17A2BD !important;*/
  }
  #map {
  height: 100%;
  }
    .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
  .container {
  background-color: #FFFFFF;
  }
    #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    }
    #pac-input:focus {
    border-color: #4d90fe;
    }
    .pac-container {
    font-family: Roboto;
    }
    #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
    }
    #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    }
  .img-responsive
  {  display: block;  height: auto;  width: 100%;
  }
  .logo-responsive
  {  display: block;  height: auto;  max-width: 100%; }
  #map {
  height: 640px;
  }
  #target {
  width: 345px;
  }
  /*
  Docs at http://http://simpleweatherjs.com
  Look inspired by http://www.degreees.com/
  Used for demo purposes.
  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons
  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
  */
  @font-face {
  font-family: 'weather';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  #weather {
  width: 700px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  }
  i {
  color: #000;
  font-family: weather;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  display: inline;
  }
  .icon-0:before { content: ":"; }
  .icon-1:before { content: "p"; }
  .icon-2:before { content: "S"; }
  .icon-3:before { content: "Q"; }
  .icon-4:before { content: "S"; }
  .icon-5:before { content: "W"; }
  .icon-6:before { content: "W"; }
  .icon-7:before { content: "W"; }
  .icon-8:before { content: "W"; }
  .icon-9:before { content: "I"; }
  .icon-10:before { content: "W"; }
  .icon-11:before { content: "I"; }
  .icon-12:before { content: "I"; }
  .icon-13:before { content: "I"; }
  .icon-14:before { content: "I"; }
  .icon-15:before { content: "W"; }
  .icon-16:before { content: "I"; }
  .icon-17:before { content: "W"; }
  .icon-18:before { content: "U"; }
  .icon-19:before { content: "Z"; }
  .icon-20:before { content: "Z"; }
  .icon-21:before { content: "Z"; }
  .icon-22:before { content: "Z"; }
  .icon-23:before { content: "Z"; }
  .icon-24:before { content: "E"; }
  .icon-25:before { content: "E"; }
  .icon-26:before { content: "3"; }
  .icon-27:before { content: "a"; }
  .icon-28:before { content: "A"; }
  .icon-29:before { content: "a"; }
  .icon-30:before { content: "A"; }
  .icon-31:before { content: "6"; }
  .icon-32:before { content: "1"; }
  .icon-33:before { content: "6"; }
  .icon-34:before { content: "1"; }
  .icon-35:before { content: "W"; }
  .icon-36:before { content: "1"; }
  .icon-37:before { content: "S"; }
  .icon-38:before { content: "S"; }
  .icon-39:before { content: "S"; }
  .icon-40:before { content: "M"; }
  .icon-41:before { content: "W"; }
  .icon-42:before { content: "I"; }
  .icon-43:before { content: "W"; }
  .icon-44:before { content: "a"; }
  .icon-45:before { content: "S"; }
  .icon-46:before { content: "U"; }
  .icon-47:before { content: "S"; }
  #weather h2 {
  margin: 0 0 8px;
  color: #000;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  }
  #weather .currently {
  margin: 0 20px;
  } 
  .text.text-brand {
    color: #17A2BD !important;
  }
  .padding {
    padding: 10px;
  }