<ion-view view-title="311 Notices" >
  <ion-content class="padding">

    <!-- Filter multiselect -->
    <div class="optionsContainerList">
      <div class="filterContainerList">
        <select class="incidentSelectorList" ng-model="listyCtrl.data.filtersSelected" ng-options="key for (key, value) in listyCtrl.data.filters" multiple></select>
      </div>
      <div class="resultCountContainerList">
        <button style="margin: 5px;" class="button button-small button-clear button-positive">
            {{ listyCtrl.data.filteredComplaints.length }} results
        </button>
      </div>
    </div>

    <hr>

    <p>
      {{ listyCtrl.data.filtersSelected | json }}
    </p>
    <hr>

    <ion-list ng-repeat="complaint in listyCtrl.data.filteredComplaints | orderBy:'-open' as filteredComplaints">
      <div class="card padding" style="margin-bottom: 0px;" ui-sref="main.list-detail({objectId: complaint.id})">
        <div class="item item-text-wrap item-icon-right">

          <h2>{{complaint.title}}</h2>

          <p>{{complaint.location}}</p>
          <!-- <p class="type type-muted type-small">
            {{listyCtrl.distanceToHere(complaint.location) | number:2}} miles away
          </p> -->

          <span class="type type-balanced type-small">Opened: </span>
            <span class="type type-muted type-small">{{complaint.open | date:'dd MMM'}}</span>

          <i class="icon ion-chevron-right" ></i>

        </div>
      </div>
    <ion-list>

  </ion-content>
</ion-view>
