<ion-view view-title="{{ listyCtrl.viewTitle }}" >
  <ion-content>

    <label for="">user current location</label>
    <p>
      {{ listyCtrl.currentLocation | json }}
    </p>


    <p ng-repeat="incident in listyCtrl.data.complaints | unique:'type'">
    <label for="">
      <input type="checkbox" ng-model="listyCtrl.data.caseTypeFilter[incident.type]" />
      {{ incident.type }}
    </label>
    </p>

    <div class="item item-input">
      <input type="text" ng-model="searchy" placeholder="search em">
    </div>

    <!-- input dashboard feedback -->
    <p><b>listyCtrl.data.caseTypeFilter(json): </b>{{ listyCtrl.data.caseTypeFilter | json }} </p>
    <p><b>searchy(json):</b>{{ searchy | json }}</p>
    <span class="type type-positive" ng-if="filteredList">Showing {{ filteredList.length }} of</span>
    <span class="type type-balanced">{{ listyCtrl.data.complaints.length }} total results</span>

    <ion-list ng-repeat="complaint in listyCtrl.data.complaints | filter:searchy | whereCaseType:listyCtrl.data.caseTypeFilter | orderBy:'-open' as filteredList">
      <div class="card padding" style="margin-bottom: 0px;" ui-sref="main.list-detail({objectId: complaint.id})">
        <div class="item item-text-wrap item-icon-right">

          <h2>{{complaint.title}}</h2>

          <p>{{complaint.location}}</p>
          <!-- <p class="type type-muted type-small">
            {{listyCtrl.distanceToHere(complaint.location) | number:2}} miles away
          </p> -->

          <span class="type type-balanced type-small">Opened: </span>
            <span class="type type-muted type-small">{{complaint.open | date:'dd MMM'}}</span>

          <!-- <span class="type type-assertive type-small">Closed: </span>
            <span class="type type-muted type-small">{{complaint.closed_dt}}</span>

          </span> -->


     <!--      <div class="button-bar" style="margin-bottom: -10px;">
            <a class="button button-icon-left button-balanced button-clear" ng-click="listyCtrl.upvote(complaint.id)">
              <i class="icon ion-arrow-up-b"></i>
              {{ listyCtrl.getComplaintUpvotes(complaint.id).$value || 0 }}
            </a>
            <a class="button button-icon-left button-assertive button-clear" ng-click="listyCtrl.downvote(complaint.id)">
              <i class="icon ion-arrow-down-b"></i>
              {{ listyCtrl.getComplaintDownvotes(complaint.id).$value || 0 }}
            </a>

             <a href="tel:+1-617-635-4500" class="button button-icon-left button-positive button-clear" >
              <i class="icon ion-ios-telephone"></i>

            </a>
          </div> -->


          <i class="icon ion-chevron-right" ></i>



        </div>
      </div>
    <ion-list>






  </ion-content>
</ion-view>
