<ion-view view-title="main debug">
  <!-- do you want padding? -->
  <ion-content class="padding" >

    <!-- <h1>I am debuggery.</h1> -->

    <h4>getItem</h4>
    <p>
      {{ data.getItem | json }}
    </p>
    </p>

    <h4>getObjectAll</h4>
    <!-- <p>
      {{ data.getObjectAll | json }}
    </p> -->
    <p ng-repeat="data in data.getObjectAll track by $index">
      {{ data.type }} 
    </p>
<!--
    <h4>getObject</h4>
    <p ng-repeat="(key, val) in data.getObject">
      <b>{{key}}:</b>
      <span class="type type-muted">
        {{ val }}
      </span>
    </p> -->




    <hr>
    <label for="">getObject:</label>
    <p>{{data.getObject}}</p>
<!--
    <label for="">getObjectAll:</label>
    <p>{{data.getObjectAll}}</p> -->

    <label for="">getItem:</label>
    <p>{{data.getItem}}</p>


  </ion-content>
</ion-view>
