<ion-view view-title="Mr. Yo">
  <!-- do you want padding -->
  <ion-content class="padding">

    <div class="test">
      <p>
        <b>ObjectId:</b>
        {{ ctrl.data.objectId | json }}
      </p>
      <p>
        <b>Object:</b>
        {{ ctrl.data.obj | json }}
      </p>
    </div>

    <!-- content goes here -->
    <img ng-src="main/assets/images/yo@2x.png" style="width: 64px; height: 64px">
    <p>
      Hello My Name is Yo!<br>
      I scaffold apps.<br>
      And I'm really good at it.
    </p>

  </ion-content>
</ion-view>
