<ion-view view-title="Map">
  <!-- do you want padding? -->
  <ion-content class="padding" scroll="false">

    <!-- required scss in _mappy.scss -->
    <ui-gmap-google-map
    center='mappyCtrl.map.center'
    zoom='mappyCtrl.map.zoom'
    draggable='false'
    disableDefaultUI="mappyCtrl.map.disableDefaultUI"
    options="mappyCtrl.map.options"
    data-tap-disabled="true"
    >

      <!-- 311 markers -->
      <ui-gmap-markers
        models="mappyCtrl.data.complaints"
        coords="'markablePosition'"
        events="mappyCtrl.map.markerEvents"
        options="'options'">
      </ui-gmap-markers>

    </ui-gmap-google-map>



     <div class="card padding" style="margin-bottom: 0px;" ui-sref="main.list-detail({objectId: mappyCtrl.data.selectedComplaint.id})" ng-if="mappyCtrl.data.selectedComplaint">
      <div class="item item-text-wrap item-icon-right">
        <h2>{{mappyCtrl.data.selectedComplaint.title}}</h2>
        <p>{{mappyCtrl.data.selectedComplaint.location}}</p>
        <span class="type type-balanced type-small">Opened: </span>
          <span class="type type-muted type-small">{{mappyCtrl.data.selectedComplaint.open | date:'dd MMM'}}</span>
      </div>
    </div>






  </ion-content>
</ion-view>
