<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="http://127.0.0.1:8080/incident/addNew" method="post">
        Title: <input type="text" name="title">  <br>
        Type: <input type="text" name="type">  <br>
        Location: <input type="text" name="loc">  <br>
        Geo latitude: <input type="text" name="lat">  <br>
        Geo longitude: <input type="text" name="lon">
        <input type="submit" value="Submit">
    </form>
</body>
</html>